#display-space {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
#display-space.show {
  pointer-events: initial;
  opacity: 1;
  cursor: pointer;
}

#display-space .dpcontainer {
  width: min(100%, 960px);
  height: min(100%, 584px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#display-space .closebtn {
  padding: 8px;
  z-index: 10000;
}

#display-space .closebtn i {
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  font-size: 24px;
}
#display-space .closebtn i:hover {
  opacity: 1;
}

#display-space .imgbox {
  position: relative;
  height: calc(9 * 100vw / 16);
  overflow: auto;
}

#display-space .imgbox img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: 10001;
  cursor: default;
}
#display-space .imgbox img.show {
  opacity: 1;
}

main .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .container1 img {
  margin: 4px;
  width: 144px;
  cursor: pointer;
  box-shadow: #fff 0 0 8px;
}
main .container1 img:hover {
  opacity: 0.6;
}

@media (min-width: 600px) {
  main .container1 {
    justify-content: space-around;
  }

  main .container1 img {
    margin: 8px;
    width: 200px;
  }
}