main.diagnosis {
  position: relative;
}
main.diagnosis .container1 {
  position: relative;
  text-align: center;
  display: none;
  color: #fff;
}
main.diagnosis .container1.show {
  display: block;
}
main.diagnosis .container1 .que {
  margin-bottom: 16px;
}
main.diagnosis .container1 .que p {
  font-size: 22px;
  font-weight: bold;
  font-family: "Yu Mincho", Arial, Helvetica, sans-serif;
  text-align: left;
}

main.diagnosis .btn {
  padding: 4px 8px 0;
  border-radius: 8px;
  border-color: #ddd;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 24px;
}
main.diagnosis .btn:hover {
  cursor: pointer;
  color: #000;
  background: #fff;
}
main.diagnosis .btn + .btn {
  margin-left: 16px;
}
main.diagnosis .btn.block {
  opacity: 0.5;
  pointer-events: none;
}
main.diagnosis .btn.last {
  margin-top: 16px;
}

main.diagnosis .page-index {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #fff;
  text-shadow: #fff 0 0 4px;
  font-size: 24px;
}

/* page0 */

main.diagnosis .page0 h2 {
  margin-bottom: 32px;
}
main.diagnosis .page0 h2 + p {
  margin-bottom: 32px;
}
main.diagnosis .page0 #userName {
  font-size: 32px;
  text-indent: 4px;
  margin: 8px auto;
  width: min(90%, 320px);
}
main.diagnosis .page0 p.annotation{
  margin-top: 64px;
  font-size: 12px;
}

/* 'Big Five' test */
main.diagnosis .container1 ol {
  list-style: decimal inside;
  padding-top: 32px;
}
main.diagnosis .container1 ol li {
  text-align: left;
  text-indent: -1em;
  margin-left: 8%;
  width: 90%;
}
main.diagnosis .container1 ol > div {
  width: 100%;
  margin: 16px 0 48px;
}
main.diagnosis .container1 ol > div .rValue {
  margin-bottom: 4px;
}
main.diagnosis .container1 ol > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: min(100%, 600px);
  margin: 8px auto;
}
main.diagnosis .container1 ol div div p {
  flex-basis: 40%;
  font-size: 14px;
}
main.diagnosis .container1 ol input {
  display: block;
  margin: 0 auto;
  width: min(80%, 360px);
  cursor: pointer;
}

/* choice */

main.diagnosis .container1.choice ul {
  padding: 32px 0 64px;
}
main.diagnosis .container1.choice ul li {
  width: min(80%, 320px);
  margin: 0 auto;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  border: 2px #fff solid;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
main.diagnosis .container1.choice ul li:hover {
  background: #fff;
  color: #000;
}
main.diagnosis .container1.choice ul li + li {
  margin-top: 8px;
}
main.diagnosis .container1.choice ul li.chose {
  background: #fff;
  color: #000;
}